accelerate
bitsandbytes
diffusers>=0.32.1
h5py
huggingface_hub
imageio[ffmpeg]
matplotlib
numpy
peft
pillow
ptwt
pydantic>=2.10.4
rich
safetensors>=0.5.0
sentencepiece>=0.2.0
torch>=2.6.0
transformers
typer
pyyaml
tqdm
wandb